asttokens==3.0.2
cloudpickle==3.1.2
contourpy==1.4.0
cycler==0.12.1
executing==2.2.1
fonttools==4.65.0
ipython==9.17.1
ipython_pygments_lexers==1.1.1
jedi==0.20.0
Jinja2==3.1.6
joblib==1.6.0
jsonpickle==4.1.2
kiwisolver==1.5.1
MarkupSafe==3.0.3
matplotlib==3.11.2
matplotlib-inline==0.2.2
narwhals==2.26.0
networkx==3.6.1
numpy==2.5.3
packaging==26.3
pandas==3.0.5
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
prompt_toolkit==3.0.53
psutil==7.2.2
psycopg2==2.9.13
ptyprocess==0.7.0
pure_eval==0.2.4
Pygments==2.21.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pyvis==0.3.2
rdkit==2026.3.6
scikit-learn==1.9.1
scipy==1.18.1
six==1.17.0
stack-data==0.6.3
threadpoolctl==3.6.0
traitlets==5.16.1
wcwidth==0.8.3
